@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <!-- Basic -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Developers Group</title>
    <meta name="keywords" content="HTML5 Theme" />
    <meta name="description" content="Megakit - HTML5 Theme">
    <meta name="author" content="keenthemes.com">

    <!-- Web Fonts -->
    <!-- Vendor Styles -->
    <link href="@Url.Content("~/Content/Template/")vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Template/")css/animate.css" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Template/")vendor/themify/themify.css" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Template/")vendor/scrollbar/scrollbar.min.css" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Template/")vendor/magnific-popup/magnific-popup.css" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Template/")vendor/swiper/swiper.min.css" rel="stylesheet" type="text/css" />

    <!-- Theme Styles -->
    <link href="@Url.Content("~/Content/Template/")css/style.css" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Template/")css/global/global.css" rel="stylesheet" type="text/css" />

    <!-- Favicon -->
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="img/apple-touch-icon.png">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <script type="text/javascript" src="https://secure.skypeassets.com/i/scom/js/skype-uri.js"></script>
   
</head>
<!-- End Head -->
<body>

    <!--========== HEADER ==========-->
    <!--========== END HEADER ==========-->
    <!--========== PROMO BLOCK ==========-->
    <!--========== END PROMO BLOCK ==========-->
    <!--========== PAGE CONTENT ==========-->
    <!-- About -->
    <div class="container-fluid g-padding-y-30--xs s-header js__header-sticky js__header-overlay">

        <!--Souvik-->
        <div class="row g-margin-b-60--xs g-margin-b-100--md">
            <div class="col-md-3 col-md-offset-3 col-sm-4 col-sm-offset-2 col-xs-7 g-margin-b-60--xs g-margin-b-0--md">
                <div class="wow fadeInLeft" data-wow-duration=".3" data-wow-delay=".2s">
                    <img class="img-responsive" src="~/Content/Template/img/400x550/souvik1.jpg" alt="Image" style="height:100%;width:100%;">
                </div>
            </div>
            <div class="col-sm-5 col-sm-offset-1 col-xs-5 g-margin-t-0--xs g-margin-t-100--sm g-margin-t-20--md g-margin-t-80--lg">
                <div class="row">
                    <h2 class="g-font-size-18--xs g-font-size-26--sm g-font-size-28--md g-margin-b-10--xs g-font-weight--600"><b>SOUVIK SAHA</b></h2>
                    <p class="g-font-size-18--xs g-font-size-20--sm g-font-size-22--md g-margin-b-0--xs">
                        +91-7001575940
                    </p>
                    <p class="g-font-size-16--xs g-font-size-20--sm g-font-size-22--md g-margin-b-0--xs">
                        souviksaha127@gmail.com
                    </p>
                </div>
                <div class="row">
                    <div class="col-xs-4 col-xs-offset-1 col-sm-4 col-sm-offset-1 col-md-2 col-md-offset-0 g-margin-t-20--lg hidden-xs"><a target="_blank" href="https://www.linkedin.com/in/souvik-saha-21859295/"><i class="fa-3x fa fa-linkedin-square"></i></a></div>
                    <div class="col-xs-2 col-xs-offset-1 col-sm-4 col-sm-offset-1 col-md-2 col-md-offset-0 g-margin-t-20--lg visible-xs g-margin-b-0--xs"><a target="_blank" href="https://www.linkedin.com/in/souvik-saha-21859295/"><i class="fa-2x fa fa-linkedin-square"></i></a></div>

                    <div class="col-xs-4 col-sm-6 col-md-2 g-margin-t-20--lg g-padding-l-40-lg hidden-xs"><a target="_blank" href="https://www.facebook.com/souvik.saha.3781"><i class="fa-3x fa fa-facebook-official"></i></a></div>
                    <div class="col-xs-2 col-xs-offset-1 col-sm-6 col-md-2 g-margin-t-20--lg g-padding-l-40-lg visible-xs g-margin-b-0--xs"><a target="_blank" href="https://www.facebook.com/souvik.saha.3781"><i class="fa-2x fa fa-facebook-official"></i></a></div>

                    <div class="col-xs-12 col-sm-12 col-md-2" id="SkypeButton_Call_souviksaha127">
                        <script type="text/javascript">

                            Skype.ui({
                                "name": "dropdown",
                                "element": "SkypeButton_Call_souviksaha127",
                                "participants": ["souviksaha127"],
                                "imageSize": 32,
                            });
                        </script>
                    </div>

                </div>

            </div>
        </div>
        <!--End Souvik-->
        <!--Atanu-->
        <div class="row g-margin-b-60--xs g-margin-b-100--md">
            <div class="col-md-4 col-md-offset-2 col-sm-4 col-sm-offset-2 col-xs-5 g-margin-t-0--xs g-margin-t-100--sm g-margin-t-20--md g-margin-t-80--lg">
                <div class="row g-margin-r-20--md" style="text-align:right;">
                    <h2 class="g-font-size-18--xs g-font-size-26--sm g-font-size-28--md g-margin-b-10--xs g-font-weight--600"><b>ATANU ROY</b></h2>
                    <p class="g-font-size-18--xs g-font-size-20--sm g-font-size-22--md g-margin-b-0--xs">
                        +91-8101382333
                    </p>
                    <p class="g-font-size-16--xs g-font-size-20--sm g-font-size-22--md g-margin-b-0--xs">
                        ratanu683@gmail.com
                    </p>
                </div>
                <div class="row">
                    <div class="col-lg-2 col-lg-offset-3 col-sm-4 col-sm-offset-2 col-md-2 col-md-offset-0 g-margin-t-20--lg hidden-xs"><a target="_blank" href="https://www.linkedin.com/in/atanu-roy-7659a112a/"><i class="fa-3x fa fa-linkedin-square"></i></a></div>
                    <div class="col-xs-2 col-xs-offset-2 g-margin-t-20--lg visible-xs g-margin-b-0--xs"><a target="_blank" href="https://www.linkedin.com/in/atanu-roy-7659a112a/"><i class="fa-2x fa fa-linkedin-square"></i></a></div>

                    <div class="col-lg-2 col-lg-offset-0 col-sm-6 col-md-2 g-margin-t-20--lg g-padding-l-40-lg hidden-xs"><a target="_blank" href="https://www.facebook.com/aryan.roy.77"><i class="fa-3x fa fa-facebook-official"></i></a></div>
                    <div class="col-xs-2 col-xs-offset-1 col-sm-6 col-md-2 g-margin-t-20--lg g-padding-l-40-lg visible-xs g-margin-b-0--xs"><a target="_blank" href="https://www.facebook.com/aryan.roy.77"><i class="fa-2x fa fa-facebook-official"></i></a></div>

                    <div class="col-lg-2 col-lg-offset-1 col-xs-12 col-sm-12 col-md-2 col-md-offset-1 " id="SkypeButton_Call_">
                        <script type="text/javascript">

                            Skype.ui({
                                "name": "dropdown",
                                "element": "SkypeButton_Call_",
                                "participants": ["souviksaha127"],
                                "imageSize": 32,
                            });
                        </script>
                    </div>

                </div>

            </div>
            <div class="col-md-3 col-sm-4 col-xs-7">
                <div class=" wow fadeInRight" data-wow-duration=".3" data-wow-delay=".2s">
                    <img class="img-responsive" src="~/Content/Template/img/400x550/atanu.jpg" alt="Image">
                </div>
            </div>
        </div>
        <!--End Atanu-->

        <div class="row g-margin-b-60--xs g-margin-b-100--md">
            <div class="col-md-3 col-md-offset-3 col-sm-4 col-sm-offset-2 col-xs-7 g-margin-b-60--xs g-margin-b-0--md">
                <div class="wow fadeInLeft" data-wow-duration=".3" data-wow-delay=".2s">
                    <img class="img-responsive" src="~/Content/Template/img/400x550/DSC_0185.JPG" alt="Image">
                </div>
            </div>
            <div class="col-sm-5 col-sm-offset-1 col-xs-5 g-margin-t-0--xs g-margin-t-100--sm g-margin-t-20--md g-margin-t-80--lg">
                <div class="row">
                    <h2 class="g-font-size-18--xs g-font-size-26--sm g-font-size-28--md g-margin-b-10--xs g-font-weight--600"><b>SUBHAJIT SAHA</b></h2>
                    <p class="g-font-size-18--xs g-font-size-20--sm g-font-size-22--md g-margin-b-0--xs">
                        +91-8509109700
                    </p>
                    <p class="g-font-size-16--xs g-font-size-20--sm g-font-size-22--md g-margin-b-0--xs">
                        sahasubhajit3009@gmail.com
                    </p>
                </div>
                <div class="row">
                    <div class="col-xs-4 col-xs-offset-1 col-sm-4 col-sm-offset-1 col-md-2 col-md-offset-0 g-margin-t-20--lg hidden-xs"><a target="_blank" href="https://www.linkedin.com/in/subhajit-saha-619650b4/"><i class="fa-3x fa fa-linkedin-square"></i></a></div>
                    <div class="col-xs-2 col-xs-offset-1 col-sm-4 col-sm-offset-1 col-md-2 col-md-offset-0 g-margin-t-20--lg visible-xs g-margin-b-0--xs"><a target="_blank" href="https://www.linkedin.com/in/subhajit-saha-619650b4/"><i class="fa-2x fa fa-linkedin-square"></i></a></div>

                    <div class="col-xs-4 col-sm-6 col-md-2 g-margin-t-20--lg g-padding-l-40-lg hidden-xs"><a target="_blank" href="https://www.facebook.com/subhajit.sahasubha"><i class="fa-3x fa fa-facebook-official"></i></a></div>
                    <div class="col-xs-2 col-xs-offset-1 col-sm-6 col-md-2 g-margin-t-20--lg g-padding-l-40-lg visible-xs g-margin-b-0--xs"><a target="_blank" href="https://www.facebook.com/subhajit.sahasubha"><i class="fa-2x fa fa-facebook-official"></i></a></div>

                    <div class="col-xs-12 col-sm-12 col-md-2" id="SkypeButton_Call_sahasubhajit3009_1_1">
                            <script type="text/javascript">
                                Skype.ui({
                                    "name": "dropdown",
                                    "element": "SkypeButton_Call_sahasubhajit3009_1_1",
                                    "participants": ["sahasubhajit3009_1"],
                                    "imageSize": 32
                                });
                            </script>
                    </div>

                </div>

            </div>
        </div>
    </div>
    <!-- End About -->
    <!--========== END FOOTER ==========-->
    <!-- Back To Top -->
    <a href="javascript:void(0);" class="s-back-to-top js__back-to-top"></a>

    <!--========== JAVASCRIPTS (Load javascripts at bottom, this will reduce page load time) ==========-->
    <!-- Vendor -->
    <script type="text/javascript" src="@Url.Content("~/Content/Template/")vendor/jquery.min.js"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/Template/")vendor/jquery.migrate.min.js"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/Template/")vendor/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/Template/")vendor/jquery.smooth-scroll.min.js"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/Template/")vendor/jquery.back-to-top.min.js"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/Template/")vendor/scrollbar/jquery.scrollbar.min.js"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/Template/")vendor/magnific-popup/jquery.magnific-popup.min.js"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/Template/")vendor/jquery.parallax.min.js"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/Template/")vendor/swiper/swiper.jquery.min.js"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/Template/")vendor/jquery.wow.min.js"></script>

    <!-- General Components and Settings -->
    <script type="text/javascript" src="@Url.Content("~/Content/Template/")js/global.min.js"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/Template/")js/components/header-sticky.min.js"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/Template/")js/components/scrollbar.min.js"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/Template/")js/components/magnific-popup.min.js"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/Template/")js/components/swiper.min.js"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/Template/")js/components/wow.min.js"></script>
    <!--========== END JAVASCRIPTS ==========-->

</body>
<!-- End Body -->
</html>
