@model Mvc_FKTHSchool_Project.Models.RoutineDownloadModel

@{
    ViewBag.Title = "Download Routine";
    Layout = "~/Views/Shared/_myLayout_Student.cshtml";
}

    <!--========== PROMO BLOCK ==========-->
<div class="g-bg-position--center js__parallax-window" style="background: url(../../Content/Template/img/r1.jpg ) 50% 0 no-repeat fixed;height:300px">
    <div class="g-container--md g-text-center--xs g-padding-y-150--xs">
        <p class="text-uppercase g-font-size-48--xs g-font-weight--700 g-color--white g-letter-spacing--2 g-margin-b-25--xs">Download Routine</p>

    </div>
</div>
<!--========== END PROMO BLOCK ==========-->





    <div class="g-bg-color--sky-light">
        <div class="container g-padding-y-20--xs g-padding-y-80--sm">

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)

                <fieldset>
                    <center> <legend>Select Section</legend></center>
                    <table align="center">
                        @*<tr>
                            <td>
                                <div class="editor-label">
                                    @Html.LabelFor(model => model.RoutineForClass)
                                </div>
                            </td>
                            <td>
                                <div class="g-margin-b-20--xs">
                                    <div class="editor-field">
                                        @Html.DropDownList("RoutineForClass", ViewBag.classSelection as List<SelectListItem>, new { @class = "form-control s-form-v2__input g-radius--50" })
                                       @Html.EditorFor(model => model.RoutineForClass)
                                        
                                    </div>
                                </div>
                            </td>
                            <td style="color:red;">
                                
                                <b>@Html.ValidationMessageFor(model => model.RoutineForClass)</b>
                                
                            </td>
                        </tr>*@
                        <tr>
                            <td>
                                <div class="editor-label">
                                    @Html.LabelFor(model => model.RoutineForSection)
                                </div>
                            </td>
                            <td>
                                <div class="g-margin-b-20--xs">
                                    <div class="editor-field">
                                        @Html.DropDownList("RoutineForSection", ViewBag.sec as List<SelectListItem>, new { @class = "form-control s-form-v2__input g-radius--50" })
                                        @*@Html.EditorFor(model => model.RoutineForClass)*@
                                       
                                    </div>
                                </div>
                            </td>
                            <td style="color:red;">

                                <b style="color:red;">@Html.ValidationMessageFor(model => model.RoutineForSection)</b>

                            </td>

                        </tr>
                       
                        <tr><td></td>
                            <td>
                                <p>
                                    <button type="submit" value="Generate" class="g-text-center--xs s-btn s-btn--md s-btn--primary-bg g-radius--50 g-padding-x-80--xs">Get Routine</button>
</p>
                            </td>

                        </tr>
                        <tr>
                            <td></td>
                            <td style="color:red;">
                                <b>@ViewBag.Error</b>
                            </td>
                        </tr>
                    </table>
                </fieldset>
            }

            </div>
        </div>
