@model Mvc_FKTHSchool_Project.Models.AlumniModel

@{
    ViewBag.Title = "AddAlumni";
    Layout = "~/Views/Shared/myLayout_Admin.cshtml";
}

<script>
    $(document).on('invalid-form.validate', 'form', function () {
        var button = $(this).find('input[type="submit"]');
        setTimeout(function () {
            button.removeAttr('disabled');
        }, 1);
    });
    $(document).on('submit', 'form', function () {
        var button = $(this).find('input[type="submit"]');
        setTimeout(function () {
            button.attr('disabled', 'disabled');
        }, 0);
    });
</script>



<div class="g-bg-color--sky-light">
    <div class="container g-padding-y-20--xs g-padding-y-10--sm">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)

            <fieldset>
                <center><legend><h2><b>Add Alumni</b></h2></legend></center>

                <table align="center" style="width:60%;">
                    <tr>
                        <td style="font-size:23px">
                            <div class="editor-label">
                                @Html.LabelFor(model => model.name, new { style = "font-size: 17px;" })
                            </div>
                        </td>
                        <td style="font-size:23px">
                            <div class="g-margin-b-20--xs">
                                @Html.TextBoxFor(model => model.name, new { @class = "form-control s-form-v2__input g-radius--50" })

                            </div>
                        </td>
                        <td style="font-size:23px">
                            <b style="color:red;">@Html.ValidationMessageFor(model => model.name)</b>
                        </td>
                    </tr>

                    <tr>
                        <td style="font-size:23px">
                            <div class="editor-label">
                                @Html.LabelFor(model => model.allumniClass, new { style = "font-size: 17px;" })
                            </div>
                        </td>
                        <td style="font-size:23px">
                            <div class="g-margin-b-20--xs">
                                @Html.DropDownList("allumniClass", ViewBag.alumniClass as List<SelectListItem>, new { @class = "form-control s-form-v2__input g-radius--50" })

                            </div>
                        </td>
                        <td style="font-size:23px">
                            <b style="color:red;">@Html.ValidationMessageFor(model => model.allumniClass)</b>
                        </td>
                    </tr>

                    <tr>
                        <td style="font-size:23px">
                            <div class="editor-label">
                                @Html.LabelFor(model => model.year, new { style = "font-size: 17px;" })
                            </div>
                        </td>
                        <td style="font-size:23px">
                            <div class="g-margin-b-20--xs">
                                @Html.DropDownList("year", ViewBag.alumniYear as List<SelectListItem>, new { @class = "form-control s-form-v2__input g-radius--50" })
                            </div>
                        </td>
                        <td style="font-size:23px">
                            <b style="color:red;">@Html.ValidationMessageFor(model => model.year)</b>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td colspan="3">
                            <input type="submit" value="Submit" class="text-uppercase s-btn s-btn--md s-btn--primary-bg g-radius--50 g-padding-x-70--xs g-margin-b-20--xs" />
                        </td>
                    </tr>
                </table>
            </fieldset>
        }
    </div>
</div>
