@model Mvc_FKTHSchool_Project.Models.FetchStudentByClassModel

@{
    ViewBag.Title = "GetAllStudentList";
    Layout = "~/Views/Shared/myLayout_Admin.cshtml";
}

<div class="g-bg-color--sky-light">
    <div class="container g-padding-y-20--xs g-padding-y-40--sm">
        @*<h2>GetAllStudentList</h2>*@

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
    
        <fieldset>
            <center>
                <legend>Get All Students</legend>
                <table>
                    <tr>
                        <td>
                            <div class="editor-label">
                                <h1>@Html.LabelFor(model => model.ofClass)</h1>&nbsp &nbsp
                            </div>
                        </td>
                        <td>
                            <div class="g-margin-b-20--xs">
                                @Html.DropDownList("ofClass", ViewBag.classSelection as List<SelectListItem>, new { @class = "form-control s-form-v2__input g-radius--50" })
                                @*@Html.EditorFor(model => model.ofClass)*@

                            </div>
                        </td>
                        <td style="color:red;">
                            <b>@Html.ValidationMessageFor(model => model.ofClass)</b>
                        </td>
                    </tr>

                    <tr>

                        <td colspan="3">
                            <button type="submit" value="View Students" class="g-text-center--xs s-btn s-btn--md s-btn--primary-bg g-radius--50 g-padding-x-80--xs">View Student</button>
                        </td>
                    </tr>
                </table>
            </center>
</fieldset>
    
        }

        </div>
</div>
