@model IEnumerable<Mvc_FKTHSchool_Project.Models.FeedbackModel>

@{
    ViewBag.Title = "ShowAllFeedback";
    Layout = "~/Views/Shared/myLayout_Admin.cshtml";
}


<div class="g-bg-color--sky-light">

    <center>
        <div style="height:15px;"></div>
        <h2>All Feedback</h2>
        <div style="height:25px;"></div>
        <div style="overflow-x:scroll;width:100%">
            <table class="table table-hover table-bordered " style="width:70%;">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.feedbackID)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.SenderID)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.feedbackMessage)
                    </th>

                </tr>

                @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.feedbackID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SenderID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.feedbackMessage)
                </td>
                @*<td>
                        @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                    </td>*@
            </tr>
            }

            </table>
        </div>
    </center>
</div>