<!DOCTYPE html>

<html>
<head>
 

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/content/themes/base/css")



    <!-- Basic -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Falakata High School</title>
    <meta name="keywords" content="FKTHS,Falakata,Falakata High School,High School,Alipurduar,FKT,FLK" />
    <meta name="description" content="Falakata High School carrying glory with pride for Falakata,Alipurpurduar">
    <meta name="author" content="Souvik Saha, Atanu Roy, Subhajit Saha">
    <link rel="icon" href="~/logo/fkths_icon2.jpg">

    <!-- Web Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,400i|Montserrat:400,700" rel="stylesheet">

    <!-- Vendor Styles -->
    <link href="@Url.Content("~/Content/Template/")vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Template/")vendor/themify/themify.css" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Template/")vendor/scrollbar/scrollbar.min.css" rel="stylesheet" type="text/css" />

    <!-- Theme Styles -->
    <link href="@Url.Content("~/Content/Template/")css/style.css" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Template/")css/global/global.css" rel="stylesheet" type="text/css" />

    <!-- Favicon -->
    <link rel="shortcut icon" href="@Url.Content("~/Content/Template/")img/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="@Url.Content("~/Content/Template/")img/apple-touch-icon.png">




</head>
<body>


    <!--========== HEADER ==========-->
    <header class="navbar-fixed-top s-header js__header-sticky js__header-overlay">
        <!-- Navbar -->
        <div class="s-header__navbar">
            <div class="s-header__container">
                <div class="s-header__navbar-row">
                    <div class="s-header__navbar-row-col">
                        <!-- Logo -->
                        <div class="s-header__logo">
                            <a href=@Url.Action("Index", "PublicView")>
                                <ul class="list-inline">
                                    <li>
                                        <img style="height:70px;width:70px;" class="s-header__logo-img-default" src="~/logo/fkths_icon2.jpg" />
                                    </li>
                                    <li class="hidden-xs hidden-sm hidden-md">
                                        <img style="height:50px;width:450px;" class="img-responsive s-header__logo-img-default" src="~/logo/fkths_logo.png" />
                                    </li>
                                </ul>
                                <img style="height:70px;" class="hidden-xs s-header__logo-img-shrink" src="~/logo/fkths_logo_short_blackEdited.png" />
                                <img style="height:50px;width:200px;" class="visible-xs s-header__logo-img-shrink" src="~/logo/fkths_logo_short_blackEdited.png" />
                            </a>
                        </div>
                        <!-- End Logo -->
                    </div>
                    <div align="right">
                        @*<h2>  Hello, @User.Identity.Name<br /></h2>*@
                        @*<a href="/AdminLogin/LogoutAdmin" style="font-size:18px;color:lightgreen;">Logout</a>*@
                        @*<p style="color: black">@Html.ActionLink("Logout", "Logout", "PublicView")</p>*@
                    </div>
                </div>
            </div>
        </div>
        <!-- End Navbar -->
        <!-- Overlay -->
        <div class="s-header-bg-overlay js__bg-overlay">
            <!-- Nav -->
            <nav class="s-header__nav js__scrollbar">

            </nav>
            <!-- End Nav -->
            <!-- Action -->
            <!-- End Action -->
            <!-- Action -->
            <!-- End Action -->
        </div>
        <!-- End Overlay -->
    </header>
    <!--========== END HEADER ==========-->
    <!--page content starts-->
    <div class="g-position--relative g-bg-color--primary">
        <div class="g-container--md g-padding-y-125--xs">
            <div>
                @RenderBody()
            </div>
        </div>

    </div>
    <!--page content ends-->
    <!--========== FOOTER ==========-->
    <footer class="g-bg-color--dark">
       
        <!-- Copyright -->
        <div class="container g-padding-y-30--xs">
            <div class="row">
                @*<div class="col-xs-6">
                    <h2 style="color:skyblue">dfgdrt</h2>
                    <img style="width:100%;height:100%" src="~/Content/Template/img/fkths_blue_trans.png" alt="FKTHS Logo">

                </div>*@
                <div>
                    <p class="g-font-size-14--xs g-margin-b-0--xs g-color--white-opacity-light"><a target="_blank" href="@Url.Action( "GetDevelopers", "PublicView")">Developers Group</a></p>
                </div>
            </div>
        </div>
        <!-- End Copyright -->
    </footer>
    <!-- End Copyright -->
    <!--========== END FOOTER ==========-->
    <!-- Back To Top -->
    <a href="javascript:void(0);" class="s-back-to-top js__back-to-top"></a>

    <!--========== JAVASCRIPTS (Load javascripts at bottom, this will reduce page load time) ==========-->
    <!-- Vendor -->
    <script type="text/javascript" src="@Url.Content("~/Content/Template/")vendor/jquery.min.js"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/Template/")vendor/jquery.migrate.min.js"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/Template/")vendor/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/Template/")vendor/jquery.smooth-scroll.min.js"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/Template/")vendor/jquery.back-to-top.min.js"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/Template/")vendor/scrollbar/jquery.scrollbar.min.js"></script>

    <!-- General Components and Settings -->
    <script type="text/javascript" src="@Url.Content("~/Content/Template/")js/global.min.js"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/Template/")js/components/header-sticky.min.js"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/Template/")js/components/scrollbar.min.js"></script>
    <!--========== END JAVASCRIPTS ==========-->
</body>
</html>
