<!DOCTYPE html>

<html>
<head>
  
   

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/content/themes/base/css")
    
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Falakata High School</title>
    <meta name="keywords" content="FKTHS,Falakata,Falakata High School,High School,Alipurduar,FKT,FLK" />
    <meta name="description" content="Falakata High School carrying glory with pride for Falakata,Alipurpurduar">
    <meta name="author" content="Souvik Saha, Atanu Roy, Subhajit Saha">
    <link rel="icon" href="~/logo/fkths_icon2.jpg">

   
    <link rel="stylesheet" href="@Url.Content("~/Content/Template/")assets/css/fonticons.css">
    <link rel="stylesheet" href="@Url.Content("~/Content/Template/")assets/fonts/stylesheet.css">
    <link rel="stylesheet" href="@Url.Content("~/Content/Template/")assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="@Url.Content("~/Content/Template/")assets/css/bootstrap.min.css">
    <!--        <link rel="stylesheet" href="assets/css/bootstrap-theme.min.css">-->
    <!--For Plugins external css-->
    <link rel="stylesheet" href="@Url.Content("~/Content/Template/")assets/css/plugins.css" />


    <link rel="stylesheet" href="@Url.Content("~/Content/Template/")assets/css/navmenu.css">

    <!--Theme custom css -->
    <link rel="stylesheet" href="@Url.Content("~/Content/Template/")assets/css/style.css">

    <!--Theme Responsive css-->
    <link rel="stylesheet" href="@Url.Content("~/Content/Template/")assets/css/responsive.css" />

    <script src="@Url.Content("~/Content/Template/")assets/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>

</head>
<body>
   
    @RenderBody()

    @*<figure class="main_area">

        <div id="home" class="home home-main-content">
            <div class="home-overlay-fluid">
                <div class="container">
                    <div class="row">
                        <div class="main_home_content text-center wow fadeInUp" data-wow-duration="1.5s">




                            <div>
                                @RenderBody()
                            </div>

                            

                        </div>

                    </div>
                </div>
            </div>
        </div><!-- End of Banner Section -->
        <!-- End of Features Section -->


        <section id="tinyforest" class="tinyforest">
            <div class="tinyforest_overlay">
                <div class="container chikobiko">
                    <div class="row">
                        <div class="main_tinyforest">
                            <div class="col-md-5">
                                <div class="single_tinyforest wow fadeInRight" data-wow-duration="1.5s">

                                    <h3>Notes</h3>
                                    <blockquote>
                                        <p>Request your teachers to update notes</p>
                                        <p>Click on View Notes to see what they uploaded</p>
                                    </blockquote>

                                    <div class="btn btn-white">@Html.ActionLink("View Notes", "NoteDwnld", "RegisteredView")</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section id="coolautumn" class="coolautumn">
            <div class="tinyforest_overlay coolautumn_overlay">
                <div class="container bangbang">
                    <div class="row">
                        <div class="main_coolautumn">
                            <div class="col-md-5 col-md-offset-7">
                                <div class="single_coolautumn text-right wow fadeInLeft" data-wow-duration="1.5s">

                                    <h3>Notice Board</h3>
                                    <blockquote class="blockquote-reverse">
                                        <p>Get in touch with latest news and updates of FKTHS.</p>
                                    </blockquote>
                                    <a href="" class="btn btn-white">View Notice</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section id="drivinghome" class="drivinghome">
            <div class="tinyforest_overlay drivinghome_overlay">
                <div class="container chikobiko">
                    <div class="row">
                        <div class="main_drivinghome">
                            <div class="col-md-5">
                                <div class="single_drivinghome wow fadeInRight" data-wow-duration="2s">

                                    <h3>View Results</h3>
                                    <blockquote>
                                        <p>Download your academic results by clicking on View Results</p>
                                    </blockquote>
                                    <a href="" class="btn btn-white">View Results</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- End of Pricing Section -->







        <section id="coolautumn" class="coolautumn">
            <div class="tinyforest_overlay" style="background:url(assets/images/routine.jpg) no-repeat top center;background-size:cover;">
                <div class="container bangbang">
                    <div class="row">
                        <div class="main_coolautumn">
                            <div class="col-md-5 col-md-offset-7">
                                <div class="single_coolautumn text-right wow fadeInLeft" data-wow-duration="1.5s">

                                    <h3>Routine</h3>
                                    <blockquote class="blockquote-reverse">
                                        <p>Get your class and examination routine here.</p>
                                    </blockquote>
                                    <div class="btn btn-white">@Html.ActionLink("View Routine", "RoutineDownload", "RegisteredView")</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section id="drivinghome" class="drivinghome">
            <div class="tinyforest_overlay" style="background: url(#) no-repeat top center; background-size: cover">
                <div class="container chikobiko">
                    <div class="row">
                        <div class="main_drivinghome">
                            <div class="col-md-5">
                                <div class="single_drivinghome wow fadeInRight" data-wow-duration="2s">

                                    <h3>School Magazine</h3>
                                    <blockquote>
                                        <p>Upload your writings for school magazine</p>
                                    </blockquote>
                                    <a href="" class="btn btn-white">Comming Soon..</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>



        <section id="contact" class="contact">
            <div class="about_overlay ">
                <div class="container bangbang">
                    <div class="row">
                        <div class="main_contact">
                            <div class="head_title text-center wow fadeInDown" data-wow-duration="1s">
                                <h2><i class="fa fa-star"></i> Give a feedback <i class="lnr lnr-star"></i></h2>
                            </div>
                            <div class="contact_content">

                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <div class="contact_message wow fadeInLeft" data-wow-duration="1.5s">
                                        <form action="#" id="formid">
                                            <div class="form-group">
                                                <input type="text" class="form-control" name="name" placeholder="Name" required="">
                                            </div>

                                            <div class="form-group">
                                                <input type="email" class="form-control" name="email" placeholder="Email" required="">
                                            </div>

                                            <div class="form-group">
                                                <textarea class="form-control" name="message" rows="6" placeholder="Message"></textarea>
                                            </div>

                                            <div class="message_btn text-right">
                                                <a href="" class="btn btn-primary">Submit</a>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </section><!-- End of contact With Map Section -->
        <footer id="footer" class="footer">
            <div class="container">
                <div class="row">
                    <div class="main_footer text-center wow fadeInUp" data-wow-duration="2s">
                        <p>Made by <a href="#">ASS</a></p>
                    </div>
                </div>
            </div>
        </footer>
    </figure>*@

    <!-- STRAT SCROLL TO TOP -->

    <div class="scrollup">
        <a href="#"><i class="fa fa-chevron-up"></i></a>
    </div>

    <script src="@Url.Content("~/Content/Template/")assets/js/vendor/jquery-1.11.2.min.js"></script>
    <script src="@Url.Content("~/Content/Template/")assets/js/vendor/bootstrap.min.js"></script>
    <script src="@Url.Content("~/Content/Template/")assets/js/vendor/isotope.min.js"></script>

    <script src="@Url.Content("~/Content/Template/")assets/js/jquery.easypiechart.min.js"></script>
    <script src="@Url.Content("~/Content/Template/")assets/js/jquery.mixitup.min.js"></script>
    <script src="@Url.Content("~/Content/Template/")assets/js/plugins.js"></script>
    <script src="@Url.Content("~/Content/Template/")assets/js/main.js"></script>

    
</body>
</html>
