@model Mvc_FKTHSchool_Project.Models.ForgetPasswordModel

@{
    ViewBag.Title = "ForgetPassword";
    Layout = "~/Views/Shared/_myLayoutForgetPassword.cshtml";
}


<center><i style="font-size:25px; color:red;">@ViewBag.err</i></center>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
       


        <div class="row g-row-col-5 g-margin-b-50--xs">
            <div class="editor-field">
                @Html.TextBoxFor(model => model.loginID, new { @class = "form-control s-form-v3__input", placeholder = "*Login ID" })
                <b style="color:red;">@Html.ValidationMessageFor(model => model.loginID)</b>
            </div>
        </div>

        <div class="row g-row-col-5 g-margin-b-50--xs col-sm-6 form-control s-form-v3__input">
            <div class="editor-field">
                Select Security Question:
                @Html.DropDownList("securityQuestion", ViewBag.securityQuestion1 as List<SelectListItem>, new { @style = "color:black; border:black 2px solid; height:30px", @class = "s-btn--white-bg g-radius--50 g-margin-b-20--xs" })
                <b style="color:red;">@Html.ValidationMessageFor(model => model.securityQuestion)</b>
            </div>
        </div>

        <div class="row g-row-col-5 g-margin-b-50--xs">
            <div class="editor-field">
                @Html.TextBoxFor(model => model.securityAnswer, new { @class = "form-control s-form-v3__input", placeholder = "*Enter your answer" })
                <b style="color:red;">@Html.ValidationMessageFor(model => model.securityAnswer)</b>
            </div>
        </div>
       

        <p>
            <button type="submit" class="text-uppercase s-btn s-btn--md s-btn--white-bg g-radius--50 g-padding-x-70--xs g-margin-b-20--xs">Forget Password</button>
        </p>
    </fieldset>
}


