@model Mvc_FKTHSchool_Project.Models.UpdatePasswordTeacherModel

@{
    ViewBag.Title = "UpdatePasswordTeacher";
    Layout = "~/Views/Shared/_myLayout_UpdatePassword.cshtml";
}

@*<h2>UpdatePasswordTeacher</h2>*@

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        @*<legend>UpdatePasswordTeacherModel</legend>*@

        <div class="row g-row-col-5 g-margin-b-50--xs">
            <div class="editor-field">
                @Html.TextBoxFor(model => model.oldPassword, new { type="password", @class = "form-control s-form-v3__input", placeholder = "*Old Password" })
                <b style="color:red;">@Html.ValidationMessageFor(model => model.oldPassword)</b>
            </div>
        </div>


        <div class="row g-row-col-5 g-margin-b-50--xs">
            <div class="editor-field">
                @Html.TextBoxFor(model => model.newPassword, new { type = "password", @class = "form-control s-form-v3__input", placeholder = "*New Password" })
                <b style="color:red;"> @Html.ValidationMessageFor(model => model.newPassword)</b>
</div>
        </div>

        <div class="row g-row-col-5 g-margin-b-50--xs">
            <div class="editor-field">
                @Html.TextBoxFor(model => model.retypePassword, new { type = "password", @class = "form-control s-form-v3__input", placeholder = "*Re-type Password" })
                <b style="color:red;">@Html.ValidationMessageFor(model => model.retypePassword)</b>
</div>
       </div>

     

        <div class="row g-row-col-5 g-margin-b-50--xs col-sm-6 form-control s-form-v3__input">
            <div class="editor-field">
                Select Security Question:
                @Html.DropDownList("securityQuestion", ViewBag.securityQuestion1 as List<SelectListItem>, new { @style = "color:black; border:black 2px solid; height:30px", @class = "s-btn--white-bg g-radius--50 g-margin-b-20--xs" })
                <b style="color:red;">@Html.ValidationMessageFor(model => model.securityQuestion)</b>
</div>
        </div>

        <div class="row g-row-col-5 g-margin-b-50--xs">
            <div class="editor-field">
                @Html.TextBoxFor(model => model.securityAnswer, new { @class = "form-control s-form-v3__input", placeholder = "*Select security Answer" })
                <b style="color:red;">@Html.ValidationMessageFor(model => model.securityAnswer)</b>
</div>
       </div>

            <p>
                <button type="submit" class="text-uppercase s-btn s-btn--md s-btn--white-bg g-radius--50 g-padding-x-70--xs g-margin-b-20--xs">Update Password</button>
            </p>
</fieldset>
}

