@model Mvc_FKTHSchool_Project.Models.UpdatePasswordAdminModel

@{
    ViewBag.Title = "UpdatePasswordAdmin";
    Layout = "~/Views/Shared/_mylayout_UpdatePasswordAdmin.cshtml";
}



@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        @*<legend>UpdatePasswordTeacherModel</legend>*@

        <div class="row g-row-col-5 g-margin-b-50--xs">
            <div class="editor-field">
                @Html.PasswordFor(model => model.oldPassword, new { @class = "form-control s-form-v3__input", placeholder = "*Old Password" })
                <b style="color:red;"> @Html.ValidationMessageFor(model => model.oldPassword)</b>
            </div>
        </div>


        <div class="row g-row-col-5 g-margin-b-50--xs">
            <div class="editor-field">
                @Html.PasswordFor(model => model.newPassword, new { @class = "form-control s-form-v3__input", placeholder = "*New Password" })
                <b style="color:red;">  @Html.ValidationMessageFor(model => model.newPassword)</b>
            </div>
        </div>

        <div class="row g-row-col-5 g-margin-b-50--xs">
            <div class="editor-field">
                @Html.PasswordFor(model => model.retypePassword, new { @class = "form-control s-form-v3__input", placeholder = "*Re-type Password" })
                <b style="color:red;">  @Html.ValidationMessageFor(model => model.retypePassword)</b>
</div>
        </div>

    

        <div class="row g-row-col-5 g-margin-b-50--xs col-sm-6 form-control s-form-v3__input">
            <div class="editor-field">
                Select Security Question:
                @Html.DropDownList("securityQuestion", ViewBag.securityQuestion1 as List<SelectListItem>, new {@class = "form-control  g-radius--10", @style = "color:black" })
                @*@Html.DropDownList("securityQuestion", ViewBag.securityQuestion1 as List<SelectListItem>, new { @class = "form-control s-form-v2__input g-radius--10", placeholder = "*Security Answer" })*@
                <b style="color:red;">    @Html.ValidationMessageFor(model => model.securityQuestion)</b>
</div>
        </div>

        <div class="row g-row-col-5 g-margin-b-50--xs">
            <div class="editor-field">
                @Html.TextBoxFor(model => model.securityAnswer, new { @class = "form-control s-form-v3__input", placeholder = "*Select security Answer" })
                <b style="color:red;"> @Html.ValidationMessageFor(model => model.securityAnswer)</b>
</div>
        </div>

        <p>
            <button type="submit" class="text-uppercase s-btn s-btn--md s-btn--white-bg g-radius--50 g-padding-x-70--xs g-margin-b-20--xs">Update Password</button>
        </p>
    </fieldset>
}

