@model Mvc_FKTHSchool_Project.Models.ChangePasswordTeacherModel

@{
    ViewBag.Title = "UpdatePassworTeacher";
    Layout = "~/Views/Shared/myLayout_Teacher.cshtml";
}









<div class="g-bg-color--sky-light">
    <div class="container g-padding-y-20--xs g-padding-y-40--sm">
        <center><i style="color:red;font-size:25px;">@ViewBag.errmsg</i></center>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)

            <fieldset>
                <center>  <legend><h2><b>Update Password</b></h2></legend></center>

                <table align="center" style="width:80%;">
                    <tr>
                        <td style="font-size:23px;">
                            <div class="editor-label">
                                @Html.LabelFor(model => model.oldPassword, new { style = "font-size: 17px;" })
                            </div>
                        </td>
                        <td>
                            <div class="g-margin-b-20--xs">
                                @Html.TextBoxFor(model => model.oldPassword, new { @class = "form-control s-form-v2__input g-radius--50", placeholder = "*Old password", type = "password" })

                            </div>
                        </td>
                        <td style="color:red;">
                            @Html.ValidationMessageFor(model => model.oldPassword)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="editor-label">
                                @Html.LabelFor(model => model.newPassword, new { style = "font-size: 17px;" })
                            </div>
                        </td>
                        <td>
                            <div class="g-margin-b-20--xs">

                                @Html.TextBoxFor(model => model.newPassword, new { @class = "form-control s-form-v2__input g-radius--50", placeholder = "*New password", type = "password" })
                            </div>
                        </td>
                        <td style="color:red;">
                            @Html.ValidationMessageFor(model => model.newPassword)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="editor-label">
                                @Html.LabelFor(model => model.retypePassword, new { style = "font-size: 17px;" })
                            </div>
                        </td>
                        <td>
                            <div class="g-margin-b-20--xs">
                                @Html.TextBoxFor(model => model.retypePassword, new { @class = "form-control s-form-v2__input g-radius--50", placeholder = "*Retype password", type = "password" })
                            </div>
                        </td>
                        <td style="color:red;">
                            @Html.ValidationMessageFor(model => model.retypePassword)
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <div class="editor-label">
                                @Html.LabelFor(model => model.securityQuestion, new { style = "font-size: 17px;" })
                            </div>
                        </td>
                        <td>
                            <div class="g-margin-b-20--xs">
                                @*@Html.TextBoxFor(model => model.securityQuestion, new { @class = "form-control s-form-v2__input g-radius--50"})*@
                                @Html.DropDownList("securityQuestion", ViewBag.securityQuestion1 as List<SelectListItem>, new { @class = "form-control s-form-v2__input g-radius--50", placeholder = "*Security Answer" })
                            </div>
                        </td>
                        <td style="color:red;">
                            @Html.ValidationMessageFor(model => model.securityQuestion)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="editor-label">
                                @Html.LabelFor(model => model.securityAnswer, new { style = "font-size: 17px;" })
                            </div>
                        </td>
                        <td>
                            <div class="g-margin-b-20--xs">
                                @Html.TextBoxFor(model => model.securityAnswer, new { @class = "form-control s-form-v2__input g-radius--50", placeholder = "*Security Answer" })

                            </div>
                        </td>
                        <td style="color:red;">
                            @Html.ValidationMessageFor(model => model.securityAnswer)
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            <p>
                                <button type="submit" value="Update Password" class="g-text-center--xs s-btn s-btn--md s-btn--primary-bg g-radius--50 g-padding-x-80--xs">Update Password</button>
                            </p>
                        </td>
                    </tr>
                </table>



            </fieldset>
        }

    </div>

</div>